<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqDwcJZ3wpSSlvZ1F-E1_jELI1uFBeXpY</string>
	<key>GCM_SENDER_ID</key>
	<string>318668817067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simplyaksh.bloodlink</string>
	<key>PROJECT_ID</key>
	<string>bloodlink-6c673</string>
	<key>STORAGE_BUCKET</key>
	<string>bloodlink-6c673.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318668817067:ios:35c450ca9d88444767edee</string>
</dict>
</plist>